<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') -%>
  <body>
    <%- include('./partials/nav.ejs') -%>
    <main class="feed-main">
      
      <div class="feed_container">
        <h1>My feed</h1>
        <section>
          <form
            action="/post/createPost"
            method="POST"
            enctype="multipart/form-data"
          >
            <div>
              <label for="newPost" class="form-label"></label>
              <input class="form-control" id="newPost" name="newPost" type="text" placeholder="what's on your mind?"></input>
              <div>
                <label for="imgUpload" class="form-label">Add an image</label>
                <input
                  type="file"
                  class="form-control"
                  id="imageUpload"
                  name="file"
                />
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">
                Post
              </button>
            </div>
          </form>
        </section>

        <section class="all-posts_container">          
          <% posts.forEach( el => { %>
          <div class="feed-post">
            <% if( el.image !== "" ) { %>
            <img src="<%= el.image %>" class="feed-post_img" alt="">
            <% } %>
            <p><%= el.text %></p>
            <div class="btn-container ">
              <form action="/post/deletePost/<%= el.id %>?_method=DELETE" method="POST">
              <button class="btn">del</button></form>
              <form action="/post/likePost/<%= el.id %>?_method=PUT" method="POST"><button class="btn">♡ <%= el.likes %> </button></form>
            </div>
            <% }) %>
           
          </div>
          
          
        </section>
      </div>
    </main>
  </body>
</html>
